.ProductPage{
    width: 100%;
    margin: 6rem 0;
    padding: 0 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}
.ProductPage .firstHalf{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.ProductPage .secondHalf{
    padding-left: 4rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.firstHalf .mainImg{
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
}
.firstHalf .mainImg img{
    width: 35%;
}
.ProductPage .firstHalf .smallImg {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.ProductPage .firstHalf .smallImg .Img{
    width: 12%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px;
    margin-right: 3rem;
    margin-top: 2rem;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border-radius: 1rem;

}
.ProductPage .firstHalf .smallImg .Img img{
    width: 100%;
}
.ProductPage .firstHalf .Heading{
    color: rgb(56, 56, 56);
    margin: 1rem 0;
    padding: 6px;
    margin-left: 8px;
}
.ProductPage .secondHalf .price{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    color: rgb(73, 72, 72);
    font-family: 'Times New Roman', Times, serif;
}
.ProductPage .secondHalf .price h2{
    font-weight: 600;
}
.ProductPage .secondHalf .price span{
    font-size: 1.2rem;
    margin-left: 1rem;
    color: gray ;
}
.ProductPage .secondHalf .Description{
    margin:1rem 0;
    margin-right: 1rem;
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
}
.ProductPage .secondHalf .Highlights{
    margin: 8px;
    font-family: 'Times New Roman', Times, serif;
}
    
.ProductPage .ButtonContainer .btn .button{
    background-color: #ecd609;
    border: none;
    color: rgb(0, 0, 0);
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;
   
  }
  .ProductPage .ButtonContainer .DownIcon{
      width: 10px;
      height: 10px;
  }
  .button2{
    background-color: white;
    color: black;
    border: 2px solid #e1fa00;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    float: right;
  }
  .HeartIcon{
      color: gray;
  }
  .HeartIcon:hover{
    color: red;
    }
    .ButtonContainer .cartIcon{
        margin-left: 1rem   ;
        color: gray;
    }
    .ButtonContainer .cartIcon:hover{
        color: grey;

    }
    .ButtonContainer .cartIcon:active{
        color: grey;
        fill: grey;
    }
.HeartIcon:active{
    color: red;
    fill: red;
}
.button{  
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: gray ;
}
.ButtonContainer{
    padding-right: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Ratings{
    width: 10%;
    border: none;
    border-radius: 8px;
    background-color: #f1f1f1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    margin: 0.8rem 0 0.5rem 0;
   
}
.Ratings>svg{
    height: 1.5rem;
    color: #eee345;
    fill: #fff345;
}   
.ButtonContainer .buyNowC{
    display: flex;
    justify-content: space-between;
}
.ButtonContainer input{
    width: 6rem;
    font-size: 1.3rem;
    border: none;
    outline:solid 2px #eee345;
    text-align: center;
    border-radius: 0.5rem;
}