.track{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0 4rem;
    margin: 6rem 0;
}
.track .Row2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    padding-top: 1rem;
    border-radius: 1rem;
}
.OrderPage{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 8px;
    padding: 1rem 4rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.OrderPage .Card p{
    margin: 0;
}
.OrderPage .Card h2{
    margin: 0;
}
.OrderPage .Card{
    background-color: #fff;
    color: #3e3e3e;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgb(189, 186, 186);
    font-family: sans-serif;
    border: none;
}
.OrderPage hr{
    width: 98%;
    height: 1px;
    color: rgb(129, 129, 129);  
}
.OrderPage .Image img{
    width: 100%;
}
.OrderPage .Image{
    width: 6rem;
    height: 6rem;
    background-color: #f3f3f3;
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.OrderPage .Card .price{
    width: 75%;
    padding-left: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.OrderPage .SubCat{
    font-size: small;
    color: rgb(143, 140, 140);
}
.OrderPage .OrderPage .PriceCol{
    color: rgb(83, 80, 80);
} 
.OrderPage .Qty{
    width: 10%;
    font-size: small;
    color: rgb(102, 101, 101);
}
.OrderPage .SubQty{
    padding-top: 20px;
    width: 100%;
    font-size: medium;
}
.OrderPage .Row{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 600;
    color: #949393;
}
.Discount{
    color: coral;
}
.orderstatus{
    padding: 1rem 2rem;
    width: 30%;
    font-size: 2rem;

}
.orderstatus .statusCard .image{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(151, 199, 243);
    border-radius: 0.8rem;
    padding: 5px;
}
.orderstatus .statusCard .image img{
    width: 100%;
    
}
.orderstatus .statusCard .text{
    padding-left: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
}
.orderstatus .statusCard .text h3{
    font-size: 1rem;
    color: black;
    display: flex;
    margin: 0rem;
}
.orderstatus .statusCard .text p{
    font-size: 0.8rem;
    color: rgb(168, 155, 155);
    margin: 0rem;
    }
.orderstatus .statusCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0.8rem;
    border-radius: 1rem;
}
.orderstatus .group{
    width:100%;
    margin-bottom: 1rem;
}
.orderstatus .statusCard:hover{
    background-color: #f1f1f1;
}

